:root {
  --bg-primary-color: #111111;
  --bg-secondary-color: #1c1c1c;
  --txt-color: #9b9b9b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  height: 100vh;
  width: 100%;
  background-color: var(--bg-primary-color);
  color: var(--txt-color);
}
main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  /* padding-top: 3rem; */
}
h1 {
  color: #fff;
  font-size: 3rem;
  margin-bottom: 2rem;
  & svg {
    fill: #fff;
    margin: 0 1rem;
    font-size: 2rem;
    transform: rotate(360deg);
    transition: transform 1s ease;
    &.reverse {
      transform: rotate(-180deg);
    }
  }
}
.encdec-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  gap: 0.5rem;
  background-color: var(--bg-secondary-color);
  border-radius: 8px;
}
.encdec-btns .btn {
  color: #ededed;
  font-size: 1.1em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 0.5rem;
  border-radius: 8px;
  padding: 10px 15px;
  /* border: none; */
  background-color: transparent;
  cursor: pointer;
  &:hover:not(.active) {
    background-color: #282828;
  }
  &:focus {
    outline: none;
  }
  &.active {
    background-color: #2e2e2e;
  }
}
.encdec-container {
  width: 600px;
}
.encdec-container .encrypt-container,
.encdec-container .decrypt-container {
  margin: 1rem;
  padding: 1rem;
  width: 100%;
}
@media (max-width: 600px) {
  .encdec-container .encrypt-container,
  .encdec-container .decrypt-container {
    width: 90vw;
  }
}
.encdec-container .encrypt-container form,
.encdec-container .decrypt-container form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
  & .form-group-ele {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
  }
  & input,
  & .btn {
    font-size: 1em;
    width: 100%;
    padding: 1rem;
    color: #ededed;
    background-color: var(--bg-secondary-color);
    border: 1px solid #343434;
    border-radius: 0.5rem;
    &[type="text"] {
      overflow-y: auto;
    }
    &:focus {
      outline: none;
    }
    &::placeholder {
      color: #50503a;
    }
  }
}
.encdec-container .decrypt-container .btn,
.encdec-container .encrypt-container .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
.encdec-container .decrypt-container {
  display: none;
}
.encdec-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.encdec-container .res-container {
  /* display: none; */
  position: relative;
  width: 100%;
  /* height: 5rem; */
  background-color: var(--bg-secondary-color);
  border-radius: 8px;
  padding: 2rem;
}
@media (max-width: 600px) {
  .encdec-container .res-container {
    width: 90vw;
  }
}
.encdec-container .res-container i {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border: 1px solid var(--txt-color);
  border-radius: 2px;
  padding: 3px;
  cursor: pointer;
}
